<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <style>

        </style>
    </head>
    <body>
        <header>
            <img src="./logo_le_cz_small.jpg">
            <h2><strong>LEVEL Energy, a. s.</strong></h2>
            <p>Slapská 2115/1, 100 00 &nbsp;
                IČ: 29154031 &nbsp;
                DIČ: CZ29154031  
            </p>
            <h1>Příloha k faktuře za dodávku elektřiny</h1>
        </header>
        <section class="customer">
            <h2>Část A: Zákazník</h2>
            <div>
                <table>
                    <tr>
                        <td>Odběratel</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>IČ:</td>
                    </tr>
                    <tr>
                        <td>Adresa:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Fakturační období</td>
                        <td></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Celkové množství odebrané elektřiny:</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Celková platba za odebranou elektřinu a související platby:</td>
                        <td></td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>Poruchová linka:</td>
                        <td>Zákaznická linka:</td>
                    </tr>
                    <td>LEVEL Energy, a. s. Tel: +420 273 136 351</td>
                    <td>LEVEL Energy, a. s. Tel: +420 273 136 351</td>
                </table>
            </div>
        </section>
        <section>
            <h2>Část B: Odběrné místo</h2>
            <table>
                <tr>
                    <td>Adresa odběrného místa:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>EAN OPM:</td>
                    <td></td>
                    <td>Napěťová hladina:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Produkt/sazba:</td>
                    <td></td>
                    <td>Typ měření:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Číslo elektroměru:</td>
                    <td></td>
                    <td>TDD:</td>
                    <td></td>
                </tr>
                <tr>
                    <td>hodnota hlavního jističe:</td>
                    <td></td>
                    <td>Distribuční sazba:</td>
                    <td></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Fakturační období:</td>
                    <td>Konstanta MTP:</td>
                    <td>Počáteční stav:</td>
                    <td>Koncový stav:</td>
                    <td>Spotřeba:</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Poplatky za silovou elektřinu</td>
                    <td>bez DPH</td>
                </tr>
                <tr>
                    <td>Položka</td>
                    <td>Sazba</td>
                    <td>počet jednotek</td>
                    <td>jednotka</td>
                    <td>Kč/jednotku</td>
                    <td>Celkem Kč</td>
                </tr>
                <tr>
                    <td>Silová elektřina</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Daň z elektřiny</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Stálý měsíční plat</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td>Za silovou elektřinu celkem</td>
                    <td></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Regulované poplatky za distribuční služby dle Cenového věstníku ERÚ</td>
                    <td>bez DPH</td>
                </tr>
                <tr>
                    <td>Položka</td>
                    <td>Sazba</td>
                    <td>počet jednotek</td>
                    <td>jednotka</td>
                    <td>Kč/jednotku</td>
                    <td>Celkem Kč</td>
                </tr>
                <tr>
                    <td>Platba za jistič</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Poplatek za využití sítí</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Ostatní poplatky</td>
                </tr>
                <tr>
                    <td>Systémové služby</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Příspěvek na OZE</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Za zúčtování OTE a ERÚ</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Regulované poplatky celkem</td>
                    <td></td>
                </tr>
                <tr>
                    <td>bez DPH</td>
                </tr>
                <tr>
                    <td>Poplatky za odběr celkem</td>
                    <td></td>
                </tr>
                <tr>
                    <td>V naměřeném profilu jsou zahrnuty ztráty dle platné legislativy</td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>Záloha</td>
                    <td></td>
                </tr>
            </table>
        </section>
        <section>
            <h2>Část C: Informace pro zákazníky</h2>
            <p>
                Způsob stanovení údaje z měření upravuje a stanovuje vyhláška 82/2011 Sb. o měření elektřiny a o způsobu stanovení náhrady škody při neoprávněném odběru, neoprávněné dodávce, neoprávněném přenosu nebo neoprávněné distribuci elektřiny.
Daň z elektřiny je daň ze zákona č. 261/2007 Sb. (část čtyřicátá sedmá - daň z elektřiny). Svou podstatou se jedná o spotřební daň, z čehož mimo jiné vyplývá fakt, že tato daň je součástí základu ceny pro výpočet DPH. Sazba daně je jednotná pro všechny napěťové hladiny bez rozdílu. Daň z elektřiny závisí na odebraném množství elektřiny v daném odběrném místě. Při splnění předpokladů specifikovaných v §8 odstavec 2, zákona 261/2007 Sb. je možné požádat správce daně (místně příslušné pracoviště Celní správy ČR) o osvobození 
            </p>
            <h3>Podíl jednotlivých zdrojů nebo původu energie na celkové směsi paliv dodavatele v roce 2019</h3>
            <table>
                <thead>
                    <tr>
                        <th>Původ elektřiny</th>
                        <th>% podíl</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>podíl elektřiny vyrobené z uhlí</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>podíl elektřiny vyrobené v jaderných zařízeních</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>podíl elektřiny vyrobené ze zemního plynu</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>podíl elektřiny vyrobené ze zdrojů využívajících obnovitelné zdroje energie</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>podíl elektřiny využívající druhotné energetické zdroje</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>podíl elektřiny z ostatních zdrojů</td>
                        <td></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>CELKEM</td>
                        <td>100%</td>
                    </tr>
                </tfoot>
            </table>
        </section>
        <footer>

        </footer>
    </body>
    
</html>
